<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Poll Resutls</title>
  </head>
  <body>
    <h2>Admin Poll fool</h2>
    <h3><%= poll.pollName %></h3>

    <div id="admin-poll-options">
      <button class="button" id="a"><%= poll.nameOne %></button>
      <button class="button" id="b"><%= poll.nameTwo %></button>
      <button class="button" id="c"><%= poll.nameThree %></button>
      <button class="button" id="d"><%= poll.nameFour %></button>
      <button class="button" id="e"><%= poll.nameFive %></button>
      <button class="button" id="f"><%= poll.nameSix %></button>
    </div>

    <h1>Totes:</h1>
    <div class="admin-vote-totals">
    </div>

    <h1>Voting Booth</h1>
    <div class="voting-booth">
      <button onclick="window.location.href='/admin-voting/'">Private Results</button>
    </div>

    <link rel="stylesheet" href="/style.css">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>
