<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poll Page</title>
  </head>
  <body>
    <h2>This is where your new poll will show up</h2>
    <h3><%= poll.pollName %></h3>
    <p><%= poll.nameOne %></p>
    <p><%= poll.nameTwo %></p>
    <p><%= poll.nameThree %></p>
    <p><%= poll.nameFour %></p>
    <p><%= poll.nameFive %></p>
    <p><%= poll.nameSix %></p>
  </body>
</html>
