<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poll Page</title>
  </head>
  <body>
    <h2>This is where your new poll will show up</h2>
    <h3><%= poll.pollName %></h3>

    <div id="voting-options">
      <% if (poll.open === 'true') { %>
        <button class="button" id="a"><%= poll.nameOne %></button>
        <button class="button" id="b"><%= poll.nameTwo %></button>
        <% if (poll.nameThree) { %>
          <button class="button" id="c"><%= poll.nameThree %></button>
        <% } %>
        <% if (poll.nameFour) { %>
          <button class="button" id="d"><%= poll.nameFour %></button>
        <% } %>
        <% if (poll.nameFive) { %>
          <button class="button" id="e"><%= poll.nameFive %></button>
        <% } %>
        <% if (poll.nameSix) { %>
          <button class="button" id="f"><%= poll.nameSix %></button>
        <% } %>
      <% } else { %>
        <h2>Poll has been closed</h2>
      <% } %>
    </div>

    <h1>Totes:</h1>
    <div class="vote-totals">
    </div>

    <% include ../partials/libraries %>
  </body>
</html>
